<!-- templates/admin/layout/blank.html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">관리자</title>

    <link rel="stylesheet" th:href="@{/assets/compiled/css/app.css}">
    <link rel="stylesheet" th:href="@{/assets/compiled/css/app-dark.css}">
    <style>
        body { background:#f6f9ff; }
    </style>
    <th:block layout:fragment="head"></th:block>
</head>
<body>
<th:block layout:fragment="content"></th:block>
<th:block layout:fragment="script"></th:block>
</body>
</html>