
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title layout:title-pattern="$CONTENT_TITLE :: HoneyRest Host">HoneyRest Host</title>

    <!-- 공통 스타일 -->
    <link rel="shortcut icon" th:href="@{/assets/compiled/svg/favicon.svg}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/assets/compiled/css/app.css}" />
    <link rel="stylesheet" th:href="@{/assets/compiled/css/app-dark.css}" />
    <link rel="stylesheet" th:href="@{/assets/compiled/css/iconly.css}" />

    <!-- 페이지별 추가 head -->
    <th:block layout:fragment="head"></th:block>
</head>

<body>
<script th:src="@{/assets/static/js/initTheme.js}"></script>

<div id="app">
    <div id="main">

        <div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>


        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>


        <main layout:fragment="content">
            <div class="page-heading" style="display: none;"></div>
            <div class="page-content" style="display: none;"></div>

        </main>


        <footer th:replace="~{admin/fragments/footer :: footer}"></footer>
    </div>
</div>

<!-- 공통 스크립트 -->
<script th:src="@{/assets/static/js/components/dark.js}"></script>
<script th:src="@{/assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script th:src="@{/assets/compiled/js/app.js}"></script>

<!-- 페이지별 추가 스크립트 -->
<th:block layout:fragment="script"></th:block>
</body>
</html>
