<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">공용 레이아웃</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/assets/compiled/css/app.css}">
    <link rel="stylesheet" th:href="@{/assets/compiled/css/app-dark.css}">
    <link rel="stylesheet" th:href="@{/assets/css/honey-theme.css}">
    <th:block layout:fragment="head"></th:block>
</head>
<body>
<th:block layout:fragment="content"></th:block>
<th:block layout:fragment="script"></th:block>
</body>
</html>